main {
  /* background-color: wheat; */
  margin-top: 1em;
  margin-bottom: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 60%;
  height: 90%;
}

.q_card {
  background-color: var(--plt1);
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 2px 5px rgb(148, 148, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--bgc);
}

.q_card_quest {
  text-align: center;
  width: 60%;
}

.bookmark_add {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -6px;
  fill: var(--plt6);
}

.p_answer {
  display: none;
  /* visibility: hidden; */
  background-color: var(--bgc);
  width: 50%;
  height: auto;
  text-align: center;
}

.q_card ul {
  padding: 0;

  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  gap: 10px;
  flex-wrap: wrap;
  width: 90%;
}

.q_card ul li {
  padding: 3px;
  border-radius: 3px;
  color: var(--plt1);
}

.li__html {
  background-color: var(--html);
}

.li__css {
  background-color: var(--css);
}
