* {
  box-sizing: border-box;
}

:root {
  --clr: gray;
  --bgc: beige;
  --nbg: rgb(233, 232, 232);
}

.nav_list {
  list-style-type: none;
}

.nav_items {
  color: blueviolet;
  fill: blueviolet;
}

.nav_items a {
  text-decoration: none;
  color: blueviolet;
}
